@import "tailwindcss";

:root {
  --background: #a0a0a0;
  --foreground: #120d16;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120d16;
    --foreground: #727272;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}

button{
  cursor: pointer;
}

button.disabled,
[disabled] {
  opacity: 0.7;
  cursor:default;
}